---
layout: gallery
---

{% include navigation.html %}

{% include _header.html %}

<h2>gallery</h2>

<!--gallery-->

<ul class="gallery-list">
    {% for opus in site.opuses %}
        {% capture page_num %}page{{opus.number}}{% endcapture %}
        {% if opus.tag=="video" %}
        <li><a href="#{{ page_num }}" class="gallery" class="ph-monitor-play"></a></li>
        <!--<li><a href="#{{ page_num }}" class="gallery"><img src="{{- opus.primaryImage | relative_url -}}" alt="{{ opus.number}}"></a></li>-->
        {% else %}
        <li><a href="#{{ page_num }}" class="gallery"><img src="{{- opus.primaryImage | relative_url -}}" alt="{{ opus.number}}"></a></li>
        {% endif %}
        <section id="{{ page_num }}" class="hide-area">
            <img src="{{- opus.primaryImage | relative_url -}}" alt="" class="card-img">
            <div class="card-text">
                <h3>{{ opus.author }}</h3>
                <p>{{ opus.content }}</p>
            </div>
        </section>
    {% endfor %}
</ul>

<!--<ul class="gallery-list">
    <li><a href="#page1" class="gallery"><img src="images/girl1.webp" alt="1"></a></li>
    <section id="page1" class="hide-area">
        <img src="images/girl1.webp" alt="" class="card-img">
        <div class="card-text">
            <h3>content</h3>
            <p>content</p>
        </div>
    </section>
    <li><a href="#page2" class="gallery"><img src="images/girl2.webp" alt="2"></a></li>
    <section id="page2" class="hide-area">
        <img src="images/girl2.webp" alt="" class="card-img">
        <div class="card-text">
            <h3>content</h3>
            <p>content</p>
        </div>
    </section>
    <li><a href="#page3" class="gallery"><img src="images/girl3.webp" alt="3"></a></li>
    <section id="page3" class="hide-area">
        <img src="images/girl3.webp" alt="" class="card-img">
        <div class="card-text">
            <h3>content</h3>
            <p>content</p>
        </div>
    </section>
    <li><a href="#page4" class="gallery"><img src="images/girl4.webp" alt="4"></a></li>
    <section id="page4" class="hide-area">
        <img src="images/girl4.webp" alt="" class="card-img">
        <div class="card-text">
            <h3>content</h3>
            <p>content</p>
        </div>
    </section>
    <li><a href="#page5" class="gallery"><img src="images/girl5.webp" alt="5"></a></li>
    <section id="page5" class="hide-area">
        <img src="images/girl5.webp" alt="" class="card-img">
        <div class="card-text">
            <h3>content</h3>
            <p>content</p>
        </div>
    </section>
    <li><a href="#page6" class="gallery"><img src="images/girl6.webp" alt="6"></a></li>
    <section id="page6" class="hide-area">
        <img src="images/girl6.webp" alt="" class="card-img">
        <div class="card-text">
            <h3>content</h3>
            <p>content</p>
        </div>
    </section>
    <li><a href="#page7" class="gallery"><img src="images/girl7.webp" alt="7"></a></li>
    <section id="page7" class="hide-area">
        <img src="images/girl7.webp" alt="" class="card-img">
        <div class="card-text">
            <h3>content</h3>
            <p>content</p>
        </div>
    </section>
    <li><a href="#page8" class="gallery"><img src="images/header.webp" alt="7"></a></li>
    <section id="page8" class="hide-area">
        <img src="images/header.webp" alt="" class="card-img">
        <div class="card-text">
            <h3>content</h3>
            <p>content</p>
        </div>
    </section>
</ul>-->

<footer id="footer">
    <p id="page-top"><a href="#">Page Top</a></p>
    <small>&copy;nemius 2022</small>
</footer>