---
layout: news
permalink: /news.html
---
{% include navigation.html %}

{% include _header.html %}

<h2>news</h2>

<div class="wrapper">
    <ul class="slider">
        <li><a href="#"><span>2021.11.01</span>1 つめのニュースの記事です。</a></li>
        <li><a href="#"><span>2021.11.02</span>2 つめのニュースの記事です。</a></li>
        <li><a href="#"><span>2021.11.03</span>3 つめのニュースの記事です。</a></li>
    </ul>
</div>

<div class="sirases">
    <ul>
        {% for cat in site.cats %}
        <li>
            <p>{{ cat.date | date: "%Y.%m.%d" }}</p>
            <p><a href="{{ cat.url | relative_url }}">{{ cat.title }}</a></p>
            {% if cat.desc %}
            <p>{{ cat.desc }}</p>
            {% endif %}
        </li>
        {% endfor %}
    </ul>
</div>


<footer id="footer">
    <p id="page-top"><a href="#">Page Top</a></p>
    <small>&copy;nemius 2022</small>
</footer>