---
layout: news
permalink: /news.html
---
{% include navigation.html %}

{% include _header.html %}

<h2>news</h2>

<div class="wrapper">
    <ul class="slider">
        {% for cat in site.cats limit:3 %}
        <li><a href="#"><span>{{ cat.date }}</span>{{ cat.title }}</a></li>
        {% endfor %}
    </ul>
</div>

<div class="news-elements">
    {% for cat in site.cats reversed %}
    <div class="headline">
        {% if cat.last %}
            <a class="final-child" href="{{ cat.url | relative_url }}">
                <img class="lozad" src="{{- cat.primaryImage | relative_url -}}" alt="samneil" data-loaded="true"
                width="602" height="400">
                <div class="headline-text">
                    <small>{{ cat.date | date: "%Y.%m.%d" }}</small>
                    <span>{{ cat.title }}</span>
                    <p>{{ post.excerpt }}</p>
                </div>
            </a>
        {% else %}
            <a class="headline-entry" href="{{ cat.url | relative_url }}">
                <img class="lozad" src="{{- cat.primaryImage | relative_url -}}" alt="samneil" data-loaded="true"
                width="602" height="400">
                <div class="headline-text">
                    <small>{{ cat.date | date: "%Y.%m.%d" }}</small>
                    <span>{{ cat.title }}</span>
                    <p>{{ post.excerpt }}</p>
                </div>
            </a>
        {% endif %}
    </div>
    {% endfor %}

    <!--<div class="lazy-load">
            <img src="assets/img/girl6.webp" alt="">
        </div>-->
</div>


<footer id="footer">
    <p id="page-top"><a href="#">Page Top</a></p>
    <small>&copy;nemius 2022</small>
</footer>