---
layout: recruit
---
{% include navigation.html %}

<h3>website policy</h3>
<p>this site using javascript</p>
<p>neko</p>
<p>neko</p>
<p>neko</p>
<p>neko</p>
<p>neko</p>
<p>neko</p>
<p>neko</p>
<p>neko</p>
<p>neko</p>
<p>neko</p>
<p>neko</p>
<p>neko</p>
<p>neko</p>
<p>neko</p>
<p>neko</p>
<p>neko</p>
<p>neko</p>
<p>neko</p>
<p>neko</p>
<p>neko</p>
<p>neko</p>
<p>neko</p>
<p>neko</p>
<p>neko</p>
<p>neko</p>
<p>neko</p>
<p>neko</p>
<p>neko</p>
<p>neko</p>
<p>neko</p>
<p>neko</p>
<p>neko</p>
<p>neko</p>
<p>neko</p>
<p>neko</p>
<p>neko</p>
<p>neko</p>
<p>neko</p>
<p>neko</p>
<p>neko</p>
<p>neko</p>
<p>neko</p>
<p>neko</p>
<p>neko</p>
<p>neko</p>
<p>neko</p>
<p>neko</p>
<p>neko</p>
<p>neko</p>
<p>neko</p>
<p>neko</p>
<p>neko</p>
<p>neko</p>
<p>neko</p>
<p>neko</p>
<p>neko</p>
<p>neko</p>
<p>neko</p>
<p>neko</p>
<p>neko</p>
<p>neko</p>
<p>neko</p>
<p>neko</p>
<p>neko</p>
<p>neko</p>
<p>neko</p>

{% include _footer.html %}

<style>
    body {
        margin: 10% 5%;
    }
</style>