---
layout: recruit
---
{% include navigation.html %}
<div id="policy">
    <h3>website policy</h3>
    <p>this site using javascript</p>
    <p>neko</p>
    <p>neko</p>
    <p>neko</p>
    <p>neko</p>
    <p>neko</p>
    <p>neko</p>
    <p>neko</p>
    <p>neko</p>
    <p>neko</p>
    <p>neko</p>
    <p>neko</p>
    <p>neko</p>
    <p>neko</p>
    <p>neko</p>
    <p>neko</p>
    <p>neko</p>
    <p>neko</p>
    <p>neko</p>
    <p>neko</p>
    <p>neko</p>
    <p>neko</p>
    <p>neko</p>
    <p>neko</p>
    <p>neko</p>
    <p>neko</p>
    <p>neko</p>
    <p>neko</p>
    <p>neko</p>
    <p>neko</p>
    <p>neko</p>
    <p>neko</p>
    <p>neko</p>
    <p>neko</p>
    <p>neko</p>
    <p>neko</p>
    <p>neko</p>
    <p>neko</p>
    <p>neko</p>
    <p>neko</p>
    <p>neko</p>
    <p>neko</p>
    <p>neko</p>
    <p>neko</p>
    <p>neko</p>
    <p>neko</p>
    <p>neko</p>
    <p>neko</p>
    <p>neko</p>
    <p>neko</p>
    <p>neko</p>
    <p>neko</p>
    <p>neko</p>
    <p>neko</p>
    <p>neko</p>
    <p>neko</p>
    <p>neko</p>
    <p>neko</p>
    <p>neko</p>
    <p>neko</p>
    <p>neko</p>
    <p>neko</p>
    <p>neko</p>
    <p>neko</p>
    <p>neko</p>
    <p>neko</p>
    <p>neko</p>
</div>

{% include _footer.html %}

<style>
    #policy {
        margin: 10% 15%;
    }

    #policy h3 {
        font-size: 32px;
    }

    @media screen and (max-width:768px) {
        #policy {
            margin: 10% 10%;
        }

    }
</style>