---
layout: recruit
---
{% include navigation.html %}
<div id="policy">
    <h3>website policy</h3>
    <p>this site using javascript</p>
    <p>neko</p>
    <p>neko</p>
    <p>neko</p>
    <p>neko</p>
    <p>neko</p>
    <p>neko</p>
    <p>neko</p>
    <p>neko</p>
    <p>neko</p>
    <p>neko</p>
    <p>neko</p>
    <p>neko</p>
    <p>neko</p>
    <p>neko</p>
    <p>neko</p>
    <p>neko</p>
    <p>neko</p>
    <p>neko</p>
    <p>neko</p>
    <p>neko</p>
    <p>neko</p>
    <p>neko</p>
    <p>neko</p>
    <p>neko</p>
    <p>neko</p>
    <p>neko</p>
    <p>neko</p>
    <p>neko</p>
    <p>neko</p>
    <p>neko</p>
    <p>neko</p>
    <p>neko</p>
    <p>neko</p>
    <p>neko</p>
    <p>neko</p>
    <p>neko</p>
    <p>neko</p>
    <p>neko</p>
    <p>neko</p>
    <p>neko</p>
    <p>neko</p>
    <p>neko</p>
    <p>neko</p>
    <p>neko</p>
    <p>neko</p>
    <p>neko</p>
    <p>neko</p>
    <p>neko</p>
    <p>neko</p>
    <p>neko</p>
    <p>neko</p>
    <p>neko</p>
    <p>neko</p>
    <p>neko</p>
    <p>neko</p>
    <p>neko</p>
    <p>neko</p>
    <p>neko</p>
    <p>neko</p>
    <p>neko</p>
    <p>neko</p>
    <p>neko</p>
    <p>neko</p>
    <p>neko</p>
    <p>neko</p>
    <p>neko</p>
</div>

{% include _footer.html %}

<style>
    #policy {
        margin: 0 10%;
    font-family: "游ゴシック体 Medium", "YuGothic Medium", "游ゴシック Medium", "Yu Gothic Medium", "游ゴシック Medium", "Yu Gothic Medium", sans-serif;
    }

    h3 {
        font-family: kosugimaru, inherit;
    }
    
    #policy h3 {
        font-size: 32px;
    }

    /*@media screen and (max-width:768px) {
        #policy {
            margin: 10% 10%;
        }

    }*/
</style>