---
layout: recruit
---

{% include navigation.html %}

<h2>recruit</h2>

<div class="rec-item">
    <h3>活動内容</h3>
    <p>contents <br> contents <br> contents <br> contents <br> contents</p>
    <img src="assets/img/girl7.webp" alt="">
</div>

<div class="rec-item">
    <h3>活動日</h3>
    <p>毎週火曜日・金曜日</p>
</div>

<ul class="slider">
    <li><img src="assets/img/girl12.webp">
        <p>パソコン室</p>
    </li>
    <li><img src="assets/img/girl13.webp">
        <p>自由に使用できるデスクトップパソコンです。OSはMac</p>
    </li>
    <li><img src="assets/img/girl14.webp" alt="picture of ICTA" loading="lazy"></li>
    <li><img src="assets/img/girl15.webp" alt="picture of ICTA" loading="lazy"></li>
    <li><img src="assets/img/girl16.webp" alt="picture of ICTA" loading="lazy"></li>
    <li><img src="assets/img/girl17.webp" alt="picture of ICTA" loading="lazy"></li>
    <li><img src="assets/img/girl18.webp" alt="picture of ICTA" loading="lazy"></li>
    <li><img src="assets/img/girl19.webp" alt="picture of ICTA" loading="lazy"></li>
    <li><img src="assets/img/girl20.webp" alt="picture of ICTA" loading="lazy"></li>
    <li><img src="assets/img/girl21.webp" alt="picture of ICTA" loading="lazy"></li>
</ul>

<div class="rec-item">
    <h3>よくある質問</h3>
    <p>Q. 兼部は可能ですか？</p>
    <p>A. 可能です！</p>

    <p>Q. スマホが使えるって本当？</p>
    <p>A. パソコン室及びパソコン準備室でのみ使用できます。それ以外で使うと没収されてしまうのでお気を付けください。</p>

    <p>Q. 興味があるだけで入っても大丈夫？</p>
    <p>A. 大丈夫です！入って自分の興味があることをぜひやってみましょー</p>
</div>

{% include _footer.html %}