---
layout: recruit
---
{% include navigation.html %}

{% include _header.html %}

<h2>recruit - 会員募集中</h2>

<div class="rec-item">
    <h3>活動内容</h3>
    <p>contents <br> contents <br> contents <br> contents <br> contents</p>
    <img src="assets/img/girl7.webp" alt="">
</div>

<div class="rec-item">
    <h3>活動日</h3>
    <p>毎週火曜日・金曜日</p>
</div>

<ul class="slider">
    <li><a href="assets/img/girl12.png"></a></li>
    <li><a href="assets/img/girl13.png"></a></li>
    <li><a href="assets/img/girl14.png"></a></li>
    <li><a href="assets/img/girl15.png"></a></li>
    <li><a href="assets/img/girl16.png"></a></li>
    <li><a href="assets/img/girl17.png"></a></li>
    <li><a href="assets/img/girl18.png"></a></li>
    <li><a href="assets/img/girl19.png"></a></li>
    <li><a href="assets/img/girl20.png"></a></li>
    <li><a href="assets/img/girl21.png"></a></li>
</ul>

<div class="rec-item">
    <h3>よくある質問</h3>
    <p>Q. 兼部は可能ですか？</p>
    <p>A. 可能です！</p>

    <p>Q. スマホが使えるって本当？</p>
    <p>A. パソコン室及びパソコン準備室でのみ使用できます。それ以外で使うと没収されてしまうのでお気を付けください。</p>

    <p>Q. 興味があるだけで入っても大丈夫？</p>
    <p>A. 大丈夫です！入って自分の興味があることをぜひやってみましょー</p>
</div>

<footer id="footer">
    <p id="page-top"><a href="#">Page Top</a></p>
    <small>&copy;nemius 2022</small>
</footer>