
<div class="top-bar">
    <div class="openbtn"><span></span><span></span><span></span></div>

    <header id="top-header">
        <h1>{{ site.title }}</h1>
    </header>
</div>  


<nav id="g-nav">
    <ul>
        <li>
            {% for i in (0..site.data.navigation.size) %}
            <a href="{{ item.link | relative_url }}" 
            {% if page.url contains item.link[i] %}style="color: rgb(var(--color-secondary-contrast-rgb), 0.7);" 
            {% endif %}>
                {{ item.name }}
            </a>
            {% endfor %}
        </li>
    </ul>
</nav>