/*@font-face {
    font-family: 瞬きノ明朝;
    src: url("MatatakiMincho/mirage.otf");
    font-display: swap;
}*/

@font-face {
    font-family: kosugimaru;
    src: url("/test-site/kosugi-maru.ttf");
    font-display: swap;
}


body {
    margin: 0px;
    color: var(--color-primary);
    font-family: "游ゴシック体 Medium", "YuGothic Medium", "游ゴシック Medium", "Yu Gothic Medium", "游ゴシック Medium", "Yu Gothic Medium", sans-serif;
    /*font-family: kosugimaru, "Arial Rounded Mt", serif;*/
}

/*header {
    font-size: 70px;
    font-family: kosugimaru, 瞬きノ明朝, serif;
    color: var(--color-primary);
    margin: 0px;
    text-align: center;
}

h1 {
    font-size: 70px;
    font-family: kosugimaru, 瞬きノ明朝, serif;
    color: var(--color-primary);
    margin: 0px;
    text-align: center;
}*/

h2 {
    font-family: kosugimaru;
    text-align: center;
    color: var(--color-primary-contrast);
}

/*スマホ用 outline tap-highlight-color 透過*/
*:focus {
    outline: none;
}

a {
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    cursor: pointer;
}

/*==================================================
ギャラリーのためのcss
===================================*/
.gallery-list {
    columns: 4;
    /*段組みの数*/
    padding: 0 15px;
    /*ギャラリー左右に余白をつける*/
    margin: 0;
}

.gallery-list li {
    margin-bottom: 20px;
    /*各画像下に余白をつける*/
    list-style: none;
}

/*ギャラリー内のイメージは横幅100%にする*/
.gallery-list img {
    width: 100%;
    height: auto;
    vertical-align: bottom;
    /*画像の下にできる余白を削除*/
}



/*　横幅900px以下の段組み設定　*/
@media only screen and (max-width: 900px) {
    .gallery-list {
        columns: 3;
    }

    .modaal-content-container {
        display: block;
    }
}

@media only screen and (max-width: 768px) {
    .gallery-list {
        columns: 2;
    }

    .modaal-content-container {
        display: block;
    }
}


/*modaal*/
.hide-area {
    display: none;
}

.modaal-content-container {
    background-color: #fff;
    color: var(--color-primary);
    display: flex;
    width: auto;
    margin: 0px;
}

@media only screen and (min-width:901px) {
    .modaal-content-container {
        height: 75vh;
    }
}

@media only screen and (max-width: 900px) {
    .modaal-content-container {
        height: 100%;
        display: block;
    }
}

@media only screen and (max-width: 768px) {
    .modaal-content-container {
        height: 100%;
        display: block;
    }
    .card-img {
        max-width: 100%;
        width: 100%;
        height: auto;
    }
}

.card-img {
    max-width: 100%;
    height: auto;
}

.card-text {
    text-align: left;
    color: var(--color-primary-contrast);
}

.card-img,
.card-text {
    padding-left: 5%;
}

/*modaal close button:hover color*/
.modaal-close:hover:before,
.modaal-close:hover:after {
    background-color: var(--color-primary-contrast);
}

/* movie icon*/
.mv {
    position: relative;
}

/*[class*="ph-"] {
    position: absolute;
    top: 50%;
    right: 50%;
    transform: translate(50%, -50%);
    font-size: 96px;
    color: rgb(var(--color-secondary-contrast-rgb), 0.7);
}*/

[class*="ph-"] {
    position: absolute;
    top: 50%;
    right: 50%;
    transform: translate(50%, -50%);
    font-size: 96px;
}


@media screen and (max-height: 430px) {
    .modaal-container {
        width: 75%;
    }
}