:root {
    --color-primary: #1aa09a;
    --color-primary-rgb: 26, 160, 154;
    --color-primary-contrast: #fbdb1c;
    --color-secondary: #ffffff;
    --color-secondary-rgb: 255, 255,255;
    --color-secondary-contrast: #666;
  }