:root {
    --color-primary: #1aa09a;
    --color-primary-rgb: 26, 160, 154;
    --color-primary-contrast: #fbdb1c;
    --color-secondary: #ffffff;
    --color-secondary-rgb: 255, 255, 255;
    --color-secondary-contrast: #666;
}

body {
    margin: 0%;
}

h1 {
    font-size: 70px;
    font-family: 'Kosugi Maru', 瞬きノ明朝, serif;
    color: var(--color-primary);
    margin: 0px;
    text-align: center;
}

h2 {
    font-family: 'Kosugi Maru', "Arial Rounded Mt", serif;
    text-align: center;
    color: var(--color-primary);
}

h3 {
    font-family: 'Kosugi Maru', "Arial Rounded Mt", serif;
    text-align: left;
    color: var(--color-primary);
    padding-bottom: 20px;
}

p {
    font-family: 'Kosugi Maru', "Arial Rounded Mt", sans-serif;
    color: var(--color-secondary-contrast);
    text-align: left;
}

li {
    list-style-type: none;
}

.sirases {
    padding: 0% 10%;
}

/*.sirases li {
    margin: 2.5% 0%;
    padding: 1% 5%;
    border: solid 3px var(--color-primary-contrast);
}*/

.sirases a {
    margin: 2.5% 0%;
    padding: 1% 5%;
    width: 70%;
    text-decoration: none;
    color: var(--color-secondary-contrast);
    border: 2px solid var(--color-secondary-contrast);
}

.wrapper {
    width: 90%;
    margin: 0 auto;
}


/*==================================================
ニュースティッカーのためのcss
===================================*/
/*ニュース1行の周りの余白*/
.slider a {
    display: block;
    background: #fff;
    padding: 20px;
}

/*日付*/
.slider span {
    display: inline-block;
    font-size: 0.8rem;
    margin-right: 10px;
    color: #777;
}

/*768px以下の見た目　※1行のままにしたい場合は不要*/
@media screen and (max-width:768px) {
    .slider {
        padding-left: 0px;
    }

    .sirases ul {
        margin: 0px;
        padding: 0px;
    }

    /*.slider {
        padding:20px;
        background:#fff;
    }

    .slider li {
        border-bottom:1px dashed #ccc;
    }

    .slider li:last-child {
        border-bottom:none;
    }
    .slider span {
        display:block;
    padding-bottom:10px;
    }*/
}