body {
    margin: 0%;
    box-sizing: border-box;
    font-family: "游ゴシック体 Medium", "YuGothic Medium", "游ゴシック Medium", "Yu Gothic Medium", "游ゴシック Medium", "Yu Gothic Medium", sans-serif;
}

/*h1 {
    font-size: 70px;
    font-family: 'Kosugi Maru', 瞬きノ明朝, serif;
    color: var(--color-primary);
    margin: 0px;
    text-align: center;
}*/

h2 {
    font-family: 'Kosugi Maru', serif;
    text-align: center;
    color: var(--color-primary-contrast);
}

h3 {
    font-family: "游ゴシック体 Medium", "YuGothic Medium", "游ゴシック Medium", "Yu Gothic Medium", "游ゴシック Medium", "Yu Gothic Medium", sans-serif;
    text-align: left;
    color: var(--color-primary);
    padding-bottom: 20px;
}

p {
    font-family: "游ゴシック体 Medium", "YuGothic Medium", "游ゴシック Medium", "Yu Gothic Medium", "游ゴシック Medium", "Yu Gothic Medium", sans-serif;
    color: var(--color-secondary-contrast);
    text-align: left;
}

li {
    list-style-type: none;
}

/*.sirases {
    padding: 0% 10%;
}

.sirases li {
    margin: 2.5% 0%;
    padding: 1% 5%;
    border: solid 3px var(--color-primary-contrast);
}*/

/*.sirases a {
    margin: 2.5% 0%;
    padding: 1% 5%;
    width: 70%;
    text-decoration: none;
    color: var(--color-secondary-contrast);
    border: 2px solid var(--color-secondary-contrast);
}*/

.headline {
    padding: 0% 10%;
}

.news-elements {
    width: 75%;
    margin: auto;
}

.headline-entry {
    border-top: 1px solid #ddd;
    display: flex;
    flex-direction: row;
    padding: 1em 1em;
    text-decoration: none;
    transition: background-clor .25s;
    color: var(--color-primary-contrast);
}

.headline-text {
    display: flex;
    flex-direction: column;
    padding: 0 1em;
    justify-content: center;
}

.final-child {
    border-top: 1px solid #ddd;
    display: flex;
    flex-direction: row;
    text-decoration: none;
    transition: background-clor .25s;
    border-bottom: 1px solid #ddd;
}

.lozad {
    width: 80px;
    object-fit: cover;
    height: 80px;
    color: var(--color-primary);
    font-size: small;
}

.wrapper {
    width: 90%;
    margin: 0 auto;
}

/*pagination*/
.pagination {
    width: 50%;
    margin: 5% auto;
    display: flex;
    color: var(--color-primary-contrast);
    justify-content: center;
}

.pagination a {
    color: var(--color-primary-contrast);
    text-decoration: none;
}

.pagination__item.pagination__number {
    margin: 0 10px;
}

/*@media screen and (max-width: 768px){
    .pagination {
        display: block;
    }
}*/


/*==================================================
ニュースティッカーのためのcss
===================================*/
/*ニュース1行の周りの余白*/
.slider a {
    text-decoration: none;
    display: block;
    background: #fff;
    padding: 20px;
}

/*日付*/
.slider span {
    display: inline-block;
    font-size: 0.8rem;
    margin-right: 10px;
    color: #777;
}

/*768px以下の見た目　※1行のままにしたい場合は不要*/
@media screen and (max-width:768px) {
    .slider {
        padding-left: 0px;
    }

    .sirases ul {
        margin: 0px;
        padding: 0px;
    }

    .news-elements {
        width: 100%;
    }

    .pagination {
        width: 100%;
    }

    /*.slider {
        padding:20px;
        background:#fff;
    }

    .slider li {
        border-bottom:1px dashed #ccc;
    }

    .slider li:last-child {
        border-bottom:none;
    }
    .slider span {
        display:block;
    padding-bottom:10px;
    }*/
}

@media (hover: hover) {
    .pagination a:hover {
        color: var(--color-primary);
    }
    .headline-entry:hover {
        background-color: rgb(var(--color-primary-rgb), 0.1);
    }
}