:root {
    --color-primary: #1aa09a;
    --color-primary-rgb: 26, 160, 154;
    --color-primary-contrast: #fbdb1c;
    --color-secondary: #ffffff;
    --color-secondary-rgb: 255, 255, 255;
    --color-secondary-contrast: #666;
}

body {
    margin: 0%;
}

h1 {
    font-size: 70px;
    font-family: 'Kosugi Maru', 瞬きノ明朝, serif;
    color: var(--color-primary);
    margin: 0px;
    text-align: center;
}

h2 {
    font-family: 'Kosugi Maru', "Arial Rounded Mt", serif;
    text-align: center;
    color: var(--color-primary);
}

h3 {
    font-family: 'Kosugi Maru', "Arial Rounded Mt", serif;
    text-align: left;
    color: var(--color-primary);
    padding-bottom: 20px;
}

p {
    font-family: 'Kosugi Maru', "Arial Rounded Mt", sans-serif;
    color: var(--color-secondary-contrast);
    text-align: left;
}

li {
    list-style-type: none;
}

.sirases {
    padding: 0% 10%;
}

/*.sirases li {
    margin: 2.5% 0%;
    padding: 1% 5%;
    border: solid 3px var(--color-primary-contrast);
}*/

.sirases a {
    margin: 2.5% 0%;
    padding: 1% 5%;
    text-decoration: none;
}

.button0 a {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
  margin: 0 auto;
  padding: 1em 2em;
  width: 200px;
  color: var(--color-secondary);
  font-size: 18px;
  font-weight: 700;
  text-decoration: none;
  border: 2px solid var(--color-secondary);
  transition: 0.3s;
}

.button0 a::before {
  content: '';
  position: absolute;
  top: calc(50% - 2px);
  right: 1em;
  transform: translateY(calc(-50% - 2px)) rotate(30deg);
  width: 12px;
  height: 2px;
  background-color: var(--color-secondary);
  transition: 0.3s;
}

.button0 a::after {
  content: '';
  position: absolute;
  top: 50%;
  right: 1em;
  transform: translateY(-50%);
  width: 70px;
  height: 2px;
  background-color: var(--color-secondary);
  transition: 0.3s;
}

/*.button0 a:hover:before,
.button0 a:hover:after {
  background-color: #fff;
}*/

.button0 a:hover {
  /*color: #fff;*/
  text-decoration: none;
  background-color: rgba(var(--color-secondary-contrast-rgb), 0.4);
}

.button0 a:hover::before,
.button0 a:hover::after {
  right: 0.5em;
}

.wrapper {
    width: 90%;
    margin: 0 auto;
}


/*==================================================
ニュースティッカーのためのcss
===================================*/
/*ニュース1行の周りの余白*/
.slider a {
    display: block;
    background: #fff;
    padding: 20px;
}

/*日付*/
.slider span {
    display: inline-block;
    font-size: 0.8rem;
    margin-right: 10px;
    color: #777;
}

/*768px以下の見た目　※1行のままにしたい場合は不要*/
@media screen and (max-width:768px) {
    .slider {
        padding-left: 0px;
    }

    .sirases ul {
        margin: 0px;
        padding: 0px;
    }

    /*.slider {
        padding:20px;
        background:#fff;
    }

    .slider li {
        border-bottom:1px dashed #ccc;
    }

    .slider li:last-child {
        border-bottom:none;
    }
    .slider span {
        display:block;
    padding-bottom:10px;
    }*/
}