body {
    margin: 0;
    min-height: 100vh;
}
.container {
    margin: 0 10%;
    font-family: 'Kosugi Maru', "Arial Rounded Mt", serif;
    color: var(--color-primary-contrast);
}

.pager {
    display: flex;
}

.pager a {
    color: var(--color-primary-contrast);
    text-decoration: none;
}
.pager a:hover {
    color: rgb(var(--color-secondary-contrast-rgb), 0.7);
}

.pager__item--next {
    margin-right: 10%;
    margin-left: auto;
}
.pager__item--prev {
    margin-left: 10%;
    margin-right: auto;
}