.container {
    margin: 0 10%;
    font-family: 'Kosugi Maru', "Arial Rounded Mt", serif;
    color: var(--color-primary-contrast);
}

.pager {
    text-decoration: none;
}

.pager__item--next {
    text-align: left;
}
.pager__item--prev {
    text-align: right;
}