/*@font-face {
    font-family: 瞬きノ明朝;
    src: url("MatatakiMincho/mirage.otf");
    font-display: swap;
}*/

:root {
    --color-primary: #1aa09a;
    --color-primary-rgb: 26, 160, 154;
    --color-primary-contrast: #fbdb1c;
    --color-secondary: #ffffff;
    --color-secondary-rgb: 255, 255,255;
    --color-secondary-contrast: #666;
}

body {
    margin: 0px;
}

h1 {
    font-size: 70px;
    font-family: 'Kosugi Maru',瞬きノ明朝, serif;
    color: var(--color-primary);
    margin: 0px;
    text-align: center;
}

h2 {
    font-family: 'Kosugi Maru', "Arial Rounded Mt", serif;
    text-align: center;
    color: var(--color-primary);
}

h3 {
    font-family: 'Kosugi Maru', "Arial Rounded Mt", serif;
    text-align: left;
    color: var(--color-primary);
    padding-bottom: 20px;
}

p {
    font-family: 'Kosugi Maru', "Arial Rounded Mt", sans-serif;
    color: var(--color-secondary-contrast);
    text-align: left;
  }

img {
    max-width: 80%;
    height: auto;
}


.rec-item {
    margin-left: 25%;
    margin-bottom: 50px;
}
@media screen and (max-width:768px) {
    .rec-item {
        margin-left: 10%;
    }
    
}