<!DOCTYPE html>
<html lang="ja">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="description" content="{{ site.description }}">
  <link rel="canonical" href="{{ page.url | replace:'index.html', '' }}">
  <title>{{ site.title }}</title>
  <link rel="apple-touch-icon" type="image/png" href="/apple-touch-icon-precomposed.png">
  <link rel="stylesheet" href="{{ 'assets/css/page-top.css' | relative_url }}">
  <link rel="stylesheet" href="{{ 'assets/css/index.css' | relative_url }}">
  <link rel="stylesheet" href="{{ 'assets/css/menu.css' | relative_url }}">
  <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.css">
</head>

<body>
  {{ content }}
  <script src="https://code.jquery.com/jquery-3.4.1.min.js"
    integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.min.js"></script>
  <script src="{{ 'assets/js/slider.js' | relative_url }}"></script>
  <script src="{{ 'assets/js/page-top.js' | relative_url }}"></script>
  <script src="{{ 'assets/js/menu.js' | relative_url }}"></script>
</body>

</html>