<!DOCTYPE html>
<html lang="ja">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel=”shortcut-icon” type="image/x-icon" href=“favicon.ico”>
    <link rel="stylesheet" href="{{ 'assets/css/menu.css' | relative_url }}">
    <link rel="stylesheet" href="{{ 'assets/css/page-top.css' | relative_url }}">
    <link rel="stylesheet" href="{{ 'assets/css/news.css' | relative_url }}">
    <link rel="stylesheet" type="text/css"
        href="https://cdnjs.cloudflare.com/ajax/libs/bxslider/4.2.15/jquery.bxslider.min.css">
    <title>{{ site.title }}</title>
</head>

<body>

    {{ content }}

    <script src="https://code.jquery.com/jquery-3.4.1.min.js"
        integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bxslider/4.2.15/jquery.bxslider.min.js"></script>
    <script src="{{ 'assets/js/menu.js' | relative_url }}"></script>
    <script src="{{ 'assets/js/page-top.js' | relative_url }}"></script>
    <script src="{{ 'assets/js/news.js' | relative_url }}"></script>
</body>

</html>